<h2><span class="label label-default">New Course</span></h2>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Course Name:</label>
                        <input type="text" id="name" formControlName="name"
                         class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="price">Course-symbol:</label>
                        <input type="text" id="Id" formControlName="Id"  class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="courseDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Days of the week:</label>
                        <input type="text" id="courseDays" formControlName="courseDays" class="form-control">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                       Teacher of this course:<mark class="text-primary"> Professor {{teacherName}}.</mark>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button mat-stroked-button color="primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

