<a style="cursor: pointer;" class="list-group-item clearfix">
    <h3 class="list-group-item-heading">{{course.name}}</h3>
    <p class="list-group-item-text">{{course.id}}</p>
    <p class="list-group-item-text">{{course.date}}</p>
    <p class="list-group-item-text">{{course.days}}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
            j
        </label>
    </div>

</a>