<div class="row">
    <div class="col-md-4 offset-md-1">
        <div class="card card-body ">
            <h3 class="card-title text-danger ">{{course.name}}</h3>
            <p class="list-group-item-text "> Course symbol: {{course.id}}</p>
            <p class="list-group-item-text"> Course start: {{courseDate}}</p>
            <p class="list-group-item-text"> Days: {{course.days}}</p>
        </div>
    </div>
    <div class="col-3">
        <mat-form-field appearance="fill">
            <mat-label>Add students to course</mat-label>
            <mat-select [formControl]="addStudent"  multiple >
                <mat-option *ngFor="let student of studentToAddToClass" [value]="student">{{student}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onAdd()">Add</button>
    </div>
    <div class="col-3">
        <button mat-button [matMenuTriggerFor]="menu">Check students attended</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item *ngFor="let student of course.students" 
          (click)="onClick(student)">{{student}}</a>
        </mat-menu>
    </div>
</div>