<nav class="navbar navbar-default p-3 mb-2 bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 class=" text-primary"> Welcome professor {{teacher.name}}</h3>
        </div>
    </div>
</nav>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem"> <a mat-button color="primary" 
                (click)="onAddStudent()">Add new student</a></mat-list-item>
            <mat-list-item role="listitem"> <a mat-button color="primary"
                (click)="onAddCourse()">Add new course</a></mat-list-item>
            <mat-list-item role="listitem"> <a mat-button color="primary"
                 (click)="openDialog()">Change password</a></mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <div class="alert alert-primary" role="alert">
                    Your courses are:
                </div>
            </div>
        </div>
        <app-teacher-courses *ngFor="let courseEl of courses" [course]=courseEl></app-teacher-courses>
    </mat-drawer-content>
</mat-drawer-container>