<div class=" col-5">
    <div class=" rounded boder-left">

        <h3 class=" text-success"> hello {{student.name}} welcome back.</h3>
        <dl class="row">
            <dd class="col-sm-3 ">id:</dd>
            <dd class="col-sm-9 text-dark">{{student.id}}</dd>

            <dd class="col-sm-3 ">phone:</dd>
            <dd class="col-sm-9 text-dark">{{student.phone}} </dd>
            <dd class="col-sm-3 ">adress:</dd>
            <dd class="col-sm-9 text-dark">{{student.adress}} </dd>
        </dl>
        <button type="button" class="btn btn-outline-success" (click)="openDialog()">change password</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-5">
        <div class="alert alert-success" role="alert">
           your courses are:
          </div>
    </div>
</div>

<app-courses-list *ngFor="let courseEl of courses" [course]=courseEl></app-courses-list>