<nav class="navbar navbar-default col-md-3  p-1 bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 class=" text-primary"> Welcome {{student.name}}</h3>
        </div>
    </div>
</nav>
<br>
<div class="col-md-3 ">
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Student information.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-student-info [student]="student"></app-student-info>
  </mat-expansion-panel>
</div>



<hr>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success" role="alert">
            Your courses are:
        </div>
    </div>
</div>

<app-courses-list *ngFor="let courseEl of courses" [course]=courseEl></app-courses-list>