
<div class="container">
    <div class="row">
        <div class="col-xs-10">
           <h3 class="text-primary">Welcome!</h3>
           <div class="col-5">
           <h4 class="p-3 mb-2 bg-light text-dark">
               Please enter your username and password to Log In 
          </h4>
        </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol>
                <li>
                    <mat-form-field appearance="fill">
                        <mat-label>What's your userName?</mat-label>
                        <input matInput ="name" #userName>
                      </mat-form-field> 
                </li>
                <li>
           <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" #passWord>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </li>
        </ol>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <button mat-raised-button color="primary" (click)="onLogIn()">Log In</button>
            </div>
        </div>
    </div>
</div>